<div>
  <h2>Your Post</h2>
  <div>
    <h3>
      {{title}}
    </h3>
    <p>
      {{contents}}
    </p>
    <p>
      {{createdAt}}
    </p>
    <p>
      {{User.name}}
      <div>
        {{#each Comments as |comment|}}
          <div>{{comment.comment}}</div>
        {{/each}}
      </div>
    </p>

    <input id="comment" />
    <input type="hidden" value="{{id}}" id="post_id" />
    <button class="btn" id="comment-btn">Add Comment</button>
  </div>
</div>
<script src="/js/add-comment.js"></script>