<div class="row align-center mb-5">
  {{#each posts as |post|}}
    <a href="/dashboard/{{post.id}}">
      <div>
        <h3 class="posts">
          {{title}}
        </h3>
        <p class="posts">
          {{contents}}
        </p>

        <p class="posts">
          Posted by<strong>
            {{User.name}}</strong>
          on
          {{format_date createdAt}}
        </p>
        <p class="posts"><strong>Comments</strong>
          {{#each Comments as |comment|}}
            <div class="posts">{{comment.comment}}
              -{{User}}
              {{format_date createdAt}}</div>
          {{/each}}</p>
      </div>
    </a>
  {{/each}}
</div>