<div>
  <div>
    <h3>
      {{title}}
    </h3>
    <p>
      {{contents}}
    </p>
    <p>
      Posted by
      {{User.name}}
      on
      {{format_date createdAt}}
    </p>
    <p>

      <div>
        {{#each Comments as |comment|}}
          <div>{{comment.comment}} by {{User.name}}</div>
        {{/each}}
      </div>
    </p>

    <input id="comment" />
    <input type="hidden" value="{{id}}" id="post_id" />
    <button class="btn" id="comment-btn">Add Comment</button>
    <button>Edit Post</button>
  </div>
</div>
<script src="/js/add-comment.js"></script>